@use '../config' as *;

.footer {
  display: flex;
  justify-content: center;
  margin: auto 0 0 0; /* layout 4. */
  width: 100%;
  min-height: $footer-height;
  //background: #222;

  &-container {
    display: flex;
    flex-flow: row wrap;
    width: $pc-max-width;

    // 추후 설계 예정
  }
}
