// Heebo 폰트
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

a {
  text-decoration-line: none;
  color: inherit;
}

body {
  //background: #f8f6ed;
  background: #fbfbfb; // gray0
  //background: #f4fce3; // lime0
}
