@use '../../config' as *;

/*
questionListPage 1. 21년 1월 8일 기준 프론트에서 questionListPage에 접속하면
                    로딩이 되는 footer가 끌어올려졌다가 다시 내려감.
                    이를 해결하자.
*/

.questionList-container {
    // width: inherit을 하지 않으면 너비가 고정되지 않아서
    // 모바일 화면에서 가로바가 생긴다.
    width: inherit;
    height: inherit;
    margin: 20px 5px 5px 5px;
}

@media screen and (min-width: 768px) {
    .questionList-container {
        display: grid;
        grid-template-columns: minmax(auto, 1200px) 300px;
        gap: 0 20px;
    }
}

.ask-btn-container {
    display: flex;
    align-items: flex-end;
}
.ask-btn {
    align-self: flex-end;
    font-size: 18px;
}


.questionList-left {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    margin: 0 0 30px 0;
}
.questionList-left-top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.questionList-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2vw;

    font-size: 24px;
    font-weight: 700;
}

.questionList-Latest {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;

}

.questionList {
    display: grid;
    gap: 20px 0

}

.questionList-right {
    padding: 5px 10px 5px 10px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    height: 300px;
}
.questionList-right-title {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .questionList-container{
        // .questionList-container의 좌우 마진이 각각 5px로
        //  잡혀있기 때문에 모바일에서 이를 조정해줌.
        // width를 inherit으로 잡으면 container의 너비가
        // 하위 요소들의 너비 합으로 잡히기 때문에 좌우 밀착이
        // 안 된다.
        width: calc(100vw - 10px);
    }
    .questionList-right{
        display: none;
    }
}